/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */



:root {
  --dark-blue: #006ce9;
  --light-blue: #18b6f6;
  --show-size: 5px; 
 }

body {
  background-color: lightblue;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 20px 20px 40px 20px;
}

main {
  max-width: 100%;
  margin-top: 20px auto;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  overflow: hidden;
}

.layout{
  background: white;
  border: solid var(--show-size) orange;
  margin: 0 auto;
  max-width: 1120px;
  padding: 20px;
  text-align: center;
}

h1,
h2 {
  margin: 0 0 5px 0;
}

.lightning {
  filter: hue-rotate(180deg);
}

.page{
  background: white; 
  padding: 20px;
  margin: 30px 0;
  border: var(--show-size) solid green;
}

section {
  padding: 20px;
 
}

ul {
  list-style-type: square;
  margin: 5px 0 30px 0;
  padding-left: 25px;
}

li {
  padding: 8px 0;
}

li::marker {
  color: var(--light-blue);
}

a,
a:visited {
  color: var(--dark-blue);
}

a:hover {
  text-decoration: none;
}

code {
  font-family: Menlo, Monaco, Courier New, monospace;
  font-size: 0.9em;
  background-color: rgb(224, 224, 224);
  padding: 2px 4px;
  border-radius: 3px;
  border-bottom: 2px solid #bfbfbf;
}

